.add-teacher{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 30%;
    margin: auto;
    position: absolute;
    top: 2rem;
    left: 35%;
    display: none;
    animation: animateForm 0.3s linear;
}

@keyframes animateForm{
    from {
        transform: translateY(-10rem);
        opacity: 0.5;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

.add-teacher > h2{
    text-align: center;
    color: tomato;
}

form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
    padding: 2rem;
}

label{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

input, textarea{
    padding: 1rem;
    font-family: inherit;
    border: none;
    outline: none;
    transition: all 0.2s ease-in-out;
    resize: none;
}

input:hover, textarea:hover{
    outline: 3px solid darkcyan;
    border-radius: 5px;
}

.container{
    display: flex;
    gap: 2rem;
}

button{
    border: none;
    background-color: #444;
    color: #fff;
    padding: 1rem;
    cursor: pointer;
    transition: all 0.2s linear;
}

button:hover{
    transform: translateY(-2px);
    background-color: #fff;
    color: #444;
}

.btns{
    text-align: center;
}

.container > input{
    flex: 1;
}

.container > button{
    flex: 1;
}

p{
    font-style: italic;
}

.add-teacher-form-open{
    display: flex;
}

.add-teacher .btns{
    gap: 2rem;
}

.add-teacher .btns > button:first-child{
    flex: 1;
}

.add-teacher .btns > button:last-child{
    flex: 1;
}

@media screen and (width <= 1040px){
    .add-teacher{
        width: 40%;
        left: 30%;
    }   
}

@media screen and (width <= 805px){
    .add-teacher{
        width: 50%;
        left: 25%;
    }   
}

@media screen and (width <= 620px){
    .add-teacher{
        width: 60%;
        left: 20%;
    }   
}

@media screen and (width <= 520px){
    .add-teacher{
        width: 80%;
        left: 10%;
    }   
}

@media screen and (width <= 400px){
    .add-teacher{
        width: 90%;
        left: 5%;
    }   
}

@media screen and (width <= 350px){
    .add-teacher{
        width: 100%;
        left: 0%;        
    }   
    form{
        box-shadow: none;
    }
    .container{
        gap: 0.5rem;
    }
    .add-teacher .btns{
        gap: 0.5rem;
    }
}